@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Jost:wght@300&family=Mukta:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EBEBEB;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background-color: #2874F0;
}

header h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}


.login-header-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.login-header-container p {
    background-color: white;
    padding: 0.6rem 1.3rem;
    align-self: center;
    color: #2874F0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    display: flex;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 91vh;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25vw;
    background-color: white;
    padding: 2rem;
    gap: 1rem;
    box-shadow: 0 20px 30px rgba(102, 112, 121, 0.2);
    border-radius: 0.5rem;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.login {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 0.5rem;
}

.group input {
    padding: 0.5rem;
    border: 1px solid rgb(230, 227, 227);
    outline: none;
    border-radius: 3px;

}

#login-form button {
    background-color: #2874F0;
    color: white;
    padding: 0.6rem;
    border: transparent;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.forgot-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: #2874F0;
    font-size: 15px;
}

.err-message {
    text-align: center;
}

.login-success {
    color: green;
    font-size: 1.5rem;
    margin-top: -10rem;
}


.sign-up-done {
    display: none;
}

.sign-up-done p {
    color: green;
    font-weight: 28px;
}

.sign-up-done {
    text-align: center;
    font-weight: bold;
    font-size: large;
    margin-top: 2rem;
}

.sign-up-done button {
    border: transparent;
    outline: none;
    background-color: #2874F0;
    padding: 0.6rem;
    margin: 1rem;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width:1024px) {
    .forgot-password {
        font-size: 12px;
    }

    #login-form {
        width: 40vw;
    }
}

@media (max-width:425px) {
    .forgot-password {
        font-size: 12px;
    }

    #login-form {
        width: 60vw;
    }
}