@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Jost:wght@300&family=Mukta:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #EBEBEB;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background-color: #2874F0;
}

header h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}


.login-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.login-container p {
    background-color: white;
    padding: 0.6rem 1.3rem;
    align-self: center;
    color: #2874F0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    display: flex;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


section {
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;

}

section h3 {
    font-size: 2rem;
    margin-top: 0.4rem;

}

.signup-form {
    padding: 2.5rem;
    padding-top: 2rem;
    width: 26%;
    border-radius: 0.5rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    box-shadow: 0 20px 30px rgba(102, 112, 121, 0.2);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

form div {
    gap: 0.2rem;
    display: flex;
    flex-direction: column;

}

.signup-form input {
    padding: 0.6rem;
    border-radius: 0.15rem;
    outline: none;
    border: 1px solid rgb(230, 227, 227);

}

.signup-form label {
    font-weight: 600;
    font-size: 13px;
}

.signup-form div p {
    font-size: 0.8rem;
}


.terms button {
    border: none;
    display: block;
    align-self: center;

}


.terms {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    font-size: 0.76rem;
}

.terms input {
    width: auto;
}

.terms-msg {
    display: flex;
    flex-direction: row;
    gap:0.4rem;
}


button {
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: #2874F0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border: none;
}


.sign-up-done {
    display: none;
}

.sign-up-done {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.sign-up-done button {
    border: transparent;
    outline: none;
    background-color: #2874F0;
    padding: 0.6rem;
    margin: 1rem;
}

.signup-form span {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

@media (max-width:768px) {
    .signup-form {
        width: 60%;
    }

    section {
        margin-top: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .login-container p {
        background-color: white;
        padding: 0.4rem;
        align-self: center;
        color: #2874F0;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }

    .terms-msg label {
        font-size: 10px;
        justify-self: center;
        align-self: center;
    }
}