@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Jost:wght@300&family=Mukta:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #EBEBEB;
    font-family: 'Mukta', sans-serif;
}


header {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
    background-color: #2874F0;
    gap: 0.2rem;
}

header h3 {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

/* signup login */


.login-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}

.login-container p {
    background-color: white;
    padding: 0.2rem 1.5rem;
    align-self: center;
    color: #2874F0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.logo {
    display: flex;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.all-products {
    display: flex;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;
    gap: 2rem;
}


.cards {
    padding: 1rem;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 20%;
    /* flex-grow: 1; */
    flex-shrink: 1;
    gap: 1rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.cards:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.cards img {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    object-fit: contain;
}

.category {
    color: black;
    font-size: 0.75rem;
    text-align: right;
}

.title {
    color: rgb(39, 38, 38);
    font-size: 1rem;
    font-weight: bold;
}

.rating {
    text-align: center;
    color: white;
    font-size: 0.9rem;
    background-color: #26A541;
    padding: 0.2rem;
    display: flex;
    gap: 0.2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.price {
    align-self: center;
    font-weight: bolder;
}

.description {
    font-size: 0.9rem;
    font-weight: 300;
    color: #8b8888;
}

.more-link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 5px;
    margin-top: -0.8rem;
}

.img-container {
    display: flex;
    align-self: center;
    height: 20vh;
    width: 18vw;
}


.rating-price-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    justify-content: center;

}

.rating-count-container {
    display: flex;
    gap: 0.3rem;
}

.rating-count {
    color: #2b2b2b;
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0.2rem;
}

.category-container {
    display: none;
    justify-content: space-around;
    padding: 1rem;
    background-color: #cedff9;
}

.filter {
    font-weight: bolder;
    color: #0658dd;
}

.filter-container {
    display: flex;
    gap: 1rem;
}

.filter-button {
    border: transparent;
    outline: none;
    background-color: #EBEBEB;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}

.search {
    outline: none;
    border: transparent;
    padding: 0.5rem;
}

.product-details {
    display: flex;
    flex-basis: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}



.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

.close {
    position: absolute;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    padding-top: 100px;
    right: 12rem;
    top: 0;
}



.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.modal-details {
    display: flex;
    gap: 2rem;
    padding: 2rem;

}

.modal-img-container {
    height: 20vh;
    width: 20vw;
    flex: 1;
    align-self: center;

}

.modal-img-container img {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    object-fit: contain;

}

.modal-text-details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 2;
    justify-content: center;
}


/* loader */

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.lds-dual-ring {
    display: flex;
    justify-content: center;
    width: 80px;
    height: 80px;
    align-self: center;
}

.lds-dual-ring:after {
    content: " ";
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 8px solid #fff;
    border-color: rgb(40, 116, 240) rgb(153, 190, 246);
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error-message {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 5rem;
    padding: 5rem;
}

.error-message {
    display: none;
}

.noProducts {
    text-align: center;
    display: none;
}

.modal-rating {
    background-color: #26A541;
    color: white;
    padding: 0.5rem;

}

.modal-rating-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.modal-rating-container span {
    margin: 0.2rem;
    font-weight: bold;
    font-size: large;
    padding: 0.2rem;
}

.modal-price {
    font-size: 2rem;
}

.modal-rating-count {
    color: grey;
}


.modal-rate-price-container {
    display: flex;
    justify-content: space-between;
}

.modal-rating {
    background-color: #26A541;
    color: white;
    padding: 0.1rem;

}



@media (max-width: 1024px) {
    .cards {
        flex-basis: 47%;
        padding: 0.5rem;
        flex-grow: 1;
    }

    .category-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }

    .filter-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .search-container {
        align-self: center;
    }


    .rating-price-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        gap: 0.8rem;
    }

    .price {
        font-size: 0.8rem;
        align-self: center;
        font-weight: bolder;
    }

    .modal-details {
        display: flex;
        gap: 1rem;
        padding: 1rem;
        flex-direction: column;
    }

    .close {
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        color: #aaa;
        cursor: pointer;
        padding-top: 100px;
        right: 8rem;
        top: 0;
    }

    .modal-img-container {
        width: 20vw;
        height: 20vh;
        flex: 1;
        align-self: center;

    }

    .modal-img-container img {
        width: 100%;
        height: 100%;
    }

    .modal-text-details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
        justify-content: center;
    }



    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: #fefefe;
        margin: auto;
        border: 1px solid #888;
        width: 90%;
        max-width: 500px;
        position: relative;
    }

    .modal-title {
        font-size: 0.9rem;
    }

    .modal-description {
        font-size: 13px;
        line-height: 18px;
        color: #5d5a5a;
    }

    .modal-price {
        font-size: 1rem;
    }


    .close {
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        color: #aaa;
        cursor: pointer;
        padding-top: 100px;
        right: 18rem;
        top: 0;
    }

    .modal-rate-price-container {
        display: flex;
        justify-content: space-between;
    }

    .modal-rating {
        background-color: #26A541;
        color: white;

    }

    .modal-rating-container span {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
    }

    .modal-rating-count {
        font-size: 12px;
    }

}


@media (max-width: 768px) {

    .close {
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        color: #aaa;
        cursor: pointer;
        padding-top: 100px;
        right: 10rem;
        top: 0;
    }

    .cards {
        flex-grow: 0;
    }
}

@media (max-width:750px) and (min-width:374px) {
    .close {
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        color: #aaa;
        cursor: pointer;
        padding-top: 100px;
        right: 7rem;
        top: 0;
    }
    .cards {
        flex-grow: 1;
    }
}



@media (max-width:475px) {
    .close {
        position: absolute;
        font-size: 28px;
        font-weight: bold;
        color: #aaa;
        cursor: pointer;
        padding-top: 100px;
        right: 3rem;
        top: 0;
    }

}